body{
    background-color: black;
}
.content{
    position: absolute;
    background-color: white;
    top:28%;
    height: 46%;
    width: 30%;
    left:33%;
    margin:auto;
}
h1{
     margin-top: 20px;
    font-family: handlee;
    font-size: 25px;
    margin-left: 8px;
}
img{
    height: 50px;
    width: auto;
    position: absolute;
    margin: 0;
    top: 10px;
    right: 8px;
}
.ladoDireito{
  width: 50%;
  position: absolute;
  right: 0;
  height: 50%;
}
.ladoEsquerdo{
    width: 50%;
    height: 60%;
    position: absolute;
}
input{
    margin: 4px;
    width: 88%; 
    border: none;
    border-bottom: solid 1px gray;
    font-family: handlee;
    font-size: 16px;
}
.input{
margin-top: 10px;
}
p{
    margin-left: 10px;
    font-family: handlee;
    font-size: 16px;
}
.cabeçalho{
    background-color: white; overflow: hidden;
}
.Body{
    overflow: hidden;
}
.rodapé{
    text-align: center;
    margin-top: 170px;
}
.rodapé button{
    font-size: 15px;
    font-family: handlee;
    border:none;
    border-bottom: 1px solid gray; 
    width: 130px;
    background-color: rgb(179, 174, 174);
    margin-top: 70px;
}
